
body{
    font-family: "PT Sans", SansSerif, sans-serif;!important;
}

.dev-preview-img{
    max-width: 200px;
    max-height: 180px;
}

.textarea-height{
    height: 40rem;
}

.hidden{
    display: none!important;
}



.dev-preview-img
{
    display: block;
    height: 150px;
    width: 150px;
}
.profile__image-container{

    padding-right: 0;
    padding-left: 0;
}

.profile__avatar{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px 4px 4px 4px;
    width: 100%;

}

.profile__icon-container{
    width: 100%;
    height: 2rem;
    position: relative;
    bottom: 2rem;
}

.profile__edit-photo-button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    float: right;
    margin-bottom: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 4px 0 0 0;
    box-shadow: 0 0 0 5px inset rgba(46, 46, 46, 0.47);
    background-color: white;
    text-align: center;
    letter-spacing: 0;
    line-height: 0;
    font-size: 2rem;
}


.profile__edit-photo-button:hover{
    box-shadow: 0 0 0 5px inset darkseagreen;
    background-color: lightgray;
}

.profile__dev-name{
    padding-left: 1rem;
    height: 4rem;
    font-size: 40px;
}

.profile__about{
    display: block;
    padding-left: 1rem;
    height: 10rem;
    width: 100%;
    font-size: 20px;
}

.hidden-textarea{
    border: none;
    resize: none;
}

.hidden-textarea:focus{
    border: 1px solid grey;
    border-radius: 4px;
}

.dev-name{
    height: 4rem;
}

.user-info-item{
    margin-bottom: 0;
}

.navigation{
    white-space: nowrap;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    background-color: floralwhite;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 40%;
}

.x-close {
    color: #aaa;
    float: right;
    margin-top: -1rem;
    margin-left: -1rem;
    font-size: 28px;
    font-weight: bold;
}

.x-close:hover,
.x-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.media{
    margin-left: 2rem;
}

.comment-form{
    height: 3rem;
}

.close:hover{
    cursor: pointer;
}

.search{
    border: #aaaaaa;
    border-radius: 6px 2px 2px 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0;
    font-family: "Century Schoolbook L", SansSerif, sans-serif;
}

.search:hover{
    box-shadow: 0 0 10px grey;
}

.search__form{
    margin-bottom: 0;
    width: auto;
    height: 2rem;
}

.search__input{
    width: 100%;
}

.search__textarea{
    resize: none;
    height: 2rem;
    width: 100%;
    border-radius: 3px;
}

.search__search-icon{
    height: 2rem;
    width: 2rem;
    background-color: rgb(239, 240, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.1rem;
    padding-left: 1.2rem;
    border-radius: 6px 0 0 6px;
}

.search-result{
    align-items: center;
}

.search-result__result-row{
    display: flex;
    flex-direction: column;
}

.search-result__item-container{
    border-radius: 2px;
    box-shadow: 2px 2px 5px grey;
}

.search-result__blog-header{
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.search-result__blog-header a{
    text-decoration: none;
    color: #17A2B8;
}

.search-result__blog-author a{
    text-decoration: none;
    color: #7D7C84;
}

.search-result__blog-content{
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 15px;
}

.search-result__blog-author{
    text-align: right;
}

.search-result__blog-date{
    text-align: left;
}

.search-result__dev-info a{
    text-decoration: none;
    color: #17A2B8;
}

.search-result__dev-avatar{
    width: 100%;
}

.search-result__message{
    font-size: 30px;
    text-align: center;
    padding-top: 3rem;
}

.dev-list{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.dev-list__dev{
    border: 1px solid #e7ecf3;
    flex-wrap: nowrap;
}

.dev-list__info a{
    text-decoration: none;
    color: #494949;
}

.dev-list__photo-container{
}

.dev-list__photo{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.comment__reply-button{
    border-radius: 4px;
    padding-top: 5px;!important;
    padding-bottom: 5px;!important;
}


.comment__content{
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 25px;
}

.comment__login{
    font-size: 20px;
}

.comment__reply-x{
    display: block;
    visibility: hidden;
}

.comment__x-text{
    margin-right: 2px;
    float: left;
    color: #aaaaaa;
}

.comment__x{
    float: left;
}

.blog{
    display: flex;
    flex-direction: column;
}

.blog__article{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.blog__article-header{

}

.blog__header-text{
    margin-left: 2rem;
}

.blog__content{
    margin-left: 2rem;
    margin-top: 2rem;
}

.blog__close{
    justify-self: end;
}

.ck-content{
    height: 30rem;
}



